<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main</title>
    <link rel="shortcut icon" type="x-icon" href="https://wallpapercave.com/wp/wp2924755.jpg" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <a class="a_product_Page" href="/product"
      >➡️See Products</a
    >
    <div class="home_page_div">
      <h1 class="what"></h1>
      <div class="maindiv">
        <button class="btn1">
          <a class="a1" href="/login">Login</a>
        </button>
        <button class="btn2">
          <a class="a2" href="/signup">Signup</a>
        </button>
      </div>
    </div>
    <%-include("partials/madeby")%>
  </body>
</html>
